body {
  background-image: url(https://th.bing.com/th/id/OIP.mzdjjNqduISD1ZATt4ngcAHaEK?w=203&h=114&c=7&r=0&o=7&pid=1.7&rm=3);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Kanit', sans-serif;
}